@import url('../../commons/scripts/splide/splide-core.min.css');

.profile-dealer-activities {
    background: var(--secondary-gray-10);
    padding: 20px;
    width: 100%;
}

@media (width >= 768px) {
    .profile-dealer-activities {
        padding: 56px;
    }

    .profile-dealer-list {
        width: 1254px;
        height: 288px;
        flex-shrink: 0;
    }

    .splide__arrows {
        display: flex !important;
        align-items: center ;
        justify-content: end ;
   }
}

.splide__arrows {
    display: none;
}

.splide__arrow {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 0;
    padding: 14px;
    background-image: url(../../icons/arrow-left-blue.svg);
    background-size: 26px;

    &:disabled {
        opacity: 0.5;
    }

    svg {
        display: none;
    }
}

.splide__arrow--next {
    rotate: 180deg;
}

.profile-dealer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profile-dealer-header-title {
        p {
            color: var(--neutrals-sub-texts-paragraphs, var(--tertiary-black));
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: var('--primary-font-arena');
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
        }
    }

    .profile-dealer-header-btn {
        color: var(--primary-blue-700);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--body-font-arena);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
        float: right;
    }
}

.profile-dealer-list {
    display: flex;
    position: relative;
    border: 1px solid var(--secondary-gray-200);
    background: var(--secondary-gray-10);
    width: 100%;
    padding: 15px;

    .profile-dealer-list-img {
        display: none;
    }

    .profile-dealer-toast {
        font-family: var(--body-font-arena);
        line-height: 20px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background:  var(--secondary-toast-arena-green);
        color: var(--Semantics-Success, var(--primary-toast-arena-green));
        font-style: normal;
        padding: 8px 10px 8px 12px;
        margin: 16px;

        .profile-dealer-status {
            font-size: 14px;
            font-weight: 500;
        }

        .profile-dealer-msg {
            font-size: 12px;
            font-weight: 400;
        }
    }

    .profile-dealer-name {
        color: var(--tertiary-black);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--body-font-arena);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        padding: 16px 0;
    }

    .profile-dealer-section {
        color: var(--secondary-main);
        font-family: var(--font-primary-nexa);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
    }

    .profile-dealer-details-phone {
        color:  var(--tertiary-black);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: var(--body-font-arena);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        span {
            padding-left: 20px;
        }
    }
    .profile-dealer-details-phone::before {
        padding: 6px 0px 0px 0px;
        border-radius: 24px;
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        background-image: url('../../icons/phone.svg');
    }

    .profile-dealer-details-email {
        padding: 12px 0 0px 0;
        span {
            padding: 0 5px 0 20px;
        }
    }
    .profile-dealer-details-email::before {
        padding: 6px 0px 0px 0px;
        border-radius: 24px;
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        background-image: url('../../icons/mail.svg');
    }
    .profile-dealer-details-email::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-image: url('../../icons/copy.svg');
    }

    .profile-dealer-saparator {
        margin-bottom: 12px;
        border: 1px solid var(--tertiary-medium-grey);
    }

    .profile-dealer-schdule-block {
        display: flex;
        font-family: var(--font-primary-nexa);
        line-height: 20px;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 30px;
        gap: 70px;

        .profile-dealer-schdule-section {
            .profile-dealer-schdule-label {
                font-size: 12px;
                font-weight: 300;
            }

            .profile-dealer-schdule-value {
                font-size: 14px;
                font-weight: 400;
                padding-top: 5px;
            }
        }
    }

    .profile-dealer-details-btn {
        display: flex;
        width: 127px;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        border: 1px solid  var(--primary-blue-700);
        gap: 8px;
        float: right;
        padding-right: 20px;
        .profile-dealer-details-a-tag {
            color: var(--Primary-Variations-Primary, var(--primary-blue-700));
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: var(--body-font-arena);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }
    }

    .profile-dealer-fields-label {
        display: none;
    }

    @media (width >= 768px) {
        .profile-dealer-list-img {
            width: 343.427px;
            height: 228.703px;
            padding: 10px 20px 10px 10px;
            display: block;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .profile-dealer-saparator {
            display: none;
        }      

        .profile-dealer-header {
            width: 100%;
        }

        .profile-dealer-header-btn {
            color: var(--Primary-Main);
            font-family: var(--font-primary-nexa);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        .profile-dealer-fields-label {
            display: block;
            color: var(--tertiary-black);
            font-feature-settings: 'liga' off, 'clig' off;
            font-family: var(--body-font-arena);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        .profile-dealer-header-title {
            width: 100%;
        }

        .profile-dealier-list-details {
            width: 100%;
        }

        .profile-dealer-toast {
            width: 100%;
            margin-bottom: 24px;
            margin-top: 8px;
            margin-left: 0;

        }

        .profile-dealer-details-phone::before {
            background-image: none !important;
        }

        .profile-dealer-details-email::before {
            background-image: none !important;
        }

        .profile-dealer-details-email::after {
            background-image: none !important;
        }

        .profile-dealer-section {
            display: flex;
        }

        .profile-dealer-name {
            font-size: 14px;
            font-weight: 500;
            padding-top: 0;
        }

        .profile-dealer-details-phone,
        .profile-dealer-details-email {
            padding: 0;
            span {
                padding-left: 0;
                font-size: 14px;
                font-weight: 500;
                padding-top: 10px;
                color: var(--primary-main);
            }
        }

        .profile-dealer-schdule-section {
            margin: 0 !important;
        }

        .profile-dealer-schdule-label {
            font-size: 14px !important;
            font-weight: 400 !important;
            color: var(--secondary-main);
        }

        .profile-dealer-schdule-value {
            font-weight: 500 !important;
        }

        .profile-dealer-schdule-section,
        .profile-dealer-section-wrapper {
            min-width: 33%;
        }

        .profile-dealer-schdule-block {
            gap: 0 !important;
            padding-bottom: 16px;
        }

        .splide__arrows splide__arrows--ltr{
            display: none;
        }

    }
}
