html,
body {
  height: 100%;
}

main {
  display: initial !important;
}

.section.car-detail-feature-container {
  position: relative;
  min-height: calc(100% - 66px);
}

.car-detail-feature-wrapper {
  height: 100%;
  position: absolute;
  inset: 0;
}

.car-detail-feature.feature-performance.container {
  padding: 48px 20px;
}

.car-detail-feature-wrapper .feature__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__image
  picture
  img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.car-detail-feature-wrapper .feature__image {
  position: absolute;
  inset: 0;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__image {
  position: absolute;
  top: 28%;
  z-index: 3;
}

.car-detail-feature-wrapper .feature__content .feature__title h2,
.car-detail-feature-wrapper .feature__content .feature__title h3,
.car-detail-feature-wrapper .feature__content .feature__title h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: var(--fw-800);
  line-height: 28px;
  text-transform: uppercase;
}

.car-detail-feature.feature-performance.container
  .feature__content
  .feature__title
  h2 {
  color: var(--tertiary-black);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--fw-800);
  line-height: 28px;
  text-transform: inherit;
}

.car-detail-feature.feature-performance.container
  .feature__content
  .feature__info
  .feature__description
  p {
  color: var(--tertiary-black);
  font-size: 12px;
  font-style: normal;
  font-weight: var(--fw-300);
  line-height: 16px;
}

.car-detail-feature-wrapper .car-detail-feature .feature__card {
  height: 100%;
  width: 100%;
  padding: 20px 0 42px;
}

.car-detail-feature-wrapper .feature__content {
  height: 100%;
  position: relative;
  z-index: 2;
  color: var(--tertiary-white);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.car-detail-feature.feature-performance.container .feature__card {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* feature-safety card style */
.car-detail-feature-wrapper
  .car-detail-feature.feature-safety
  .feature__content {
  display: flex;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content {
  display: flex;
  flex-direction: column-reverse;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant {
  padding-top: 360px;
  margin-top: 32px;
  background-color: #f2f2f2;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 32px;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul
  li {
  padding: 10px 18px;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul
  li:nth-child(odd) {
  border-right: 1px solid var(--tertiary-black);
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul
  li:nth-child(-n + 2) {
  border-bottom: 1px solid var(--tertiary-black);
}

.car-detail-feature-wrapper
  .car-detail-feature.feature-safety
  .feature__content
  .feature__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__info {
  order: 1;
}

/* button style override */
.car-detail-feature-container .button-primary-light {
  background-color: inherit;
  border: inherit;
  padding-left: 1.8rem;
  font-size: 0.8rem;
  font-weight: var(--fw-600);
}

.car-detail-feature-container .button-primary-light:hover {
  background-color: inherit;
  border: inherit;
  color: var(--secondary-white);
}

.car-detail-feature-container .button-primary-light::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.6537 12.0001L10.25 16.4038L10.25 7.59631L14.6537 12.0001Z" fill="white"/></svg>');
}

.car-detail-feature.feature-performance.container
  .feature__content
  .cta__actions
  .button-primary-light {
  padding-left: 25px;
  font-weight: var(--fw-600);
}

.car-detail-feature.feature-performance.container
  .feature__content
  .cta__actions
  .button-primary-light::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.6537 12.0001L10.25 16.4038L10.25 7.59631L14.6537 12.0001Z" fill="black"/></svg>');
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul
  li
  p:first-child {
  color: #969696;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--fw-700);
  line-height: 18px;
  margin: 0;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul
  li
  p:not(:first-child) {
  color: var(--tertiary-black);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--fw-600);
  line-height: 140%;
  margin: 2px 0 15px;
}

.car-detail-feature.feature-performance.container
  .feature__card
  .feature__content
  .feature__variant
  ul
  li
  p
  span {
  font-size: 12px;
  font-style: normal;
  font-weight: var(--fw-600);
  line-height: 140%;
}

.car-detail-feature.feature-interior.container,
.car-detail-feature.feature-safety.container,
.car-detail-feature.feature-suzuki-connect.container {
  height: 100%;
}

.car-detail-feature-wrapper .car-detail-feature {
  height: 100%;
  display: flex;
}

.car-detail-feature-wrapper
  .car-detail-feature.feature-interior
  .feature__image::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(286deg, rgb(0 0 0 / 0%) 57.65%, #000 92.02%);
}

.car-detail-feature-wrapper
  .car-detail-feature.feature-safety
  .feature__image::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(180deg, #000 -49.24%, rgb(0 0 0 / 0%) 100%);
}

.car-detail-feature-wrapper
  .car-detail-feature.feature-suzuki-connect
  .feature__image::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(115deg, rgb(0 0 0 / 0%) 49.93%, #000 89.42%);
}

.overview-section.car-detail-feature-container.feature-performance-section,
.overview-section.car-detail-feature-container.feature-performance-section
  .car-detail-feature-wrapper,
.overview-section.car-detail-feature-container.feature-performance-section
  .car-detail-feature-wrapper
  .car-detail-feature.feature-performance.container,
.overview-section.car-detail-feature-container.feature-performance-section
  .car-detail-feature-wrapper
  .car-detail-feature
  .feature__card
  .overview-section.car-detail-feature-container.feature-performance-section
  .car-detail-feature-wrapper
  .car-detail-feature
  .feature__card
  .feature__content {
  height: auto;
  position: relative;
}

@media (width >=1024px) {
  .car-detail-feature-wrapper .feature__content .feature__title h2,
  .car-detail-feature-wrapper .feature__content .feature__title h3,
  .car-detail-feature-wrapper .feature__content .feature__title h4 {
    font-size: 40px;
    font-style: normal;
    font-weight: var(--fw-800);
    line-height: 40px;
    text-transform: inherit;
  }

  .car-detail-feature-wrapper .feature__content .feature__info,
  .car-detail-feature-wrapper .feature__content .cta__actions {
    width: 400px;
  }

  .car-detail-feature-wrapper
    .car-detail-feature.feature-safety
    .feature__content
    .feature__info {
    justify-content: inherit;
  }

  .car-detail-feature-wrapper
    .car-detail-feature.feature-suzuki-connect
    .feature__content {
    align-items: flex-end;
  }

  .car-detail-feature-container .button-primary-light {
    background-color: var(--primary-blue-700);
    color: var(--secondary-white);
    border: 1px solid var(--primary-blue-700);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .car-detail-feature-container .button-primary-light:hover {
    color: var(--primary-blue-700);
    background-color: var(--secondary-white);
    border: 1px solid var(--primary-blue-700);
  }

  .car-detail-feature-container .button-primary-light::before {
    display: none;
  }

  .car-detail-feature.feature-performance.container {
    padding: 120px 64px;
  }

  .car-detail-feature.feature-performance.container .feature__card {
    flex-direction: row-reverse;
    display: block;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant {
    max-width: 200px;
    width: 100%;
    padding-top: unset;
    margin-top: 80px;
    background-color: transparent;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul {
    list-style-type: none;
    padding: 0;
    display: block;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content {
    padding-top: 50px;
    display: block;
  }

  .car-detail-feature
    .feature__card
    .feature__content
    .feature__info
    .feature__description
    p {
    font-size: 0.9rem;
    font-weight: var(--fw-300);
    line-height: 1.3rem;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li {
    border-top: 2px solid #ffd85c;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li
    p {
    margin: 0;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li:nth-child(odd) {
    border-right: none;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li:nth-child(-n + 2) {
    border-bottom: none;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__image {
    position: absolute;
    left: 40%;
    top: 30%;
    z-index: 1;
  }

  .car-detail-feature.feature-performance.container
    .feature__content
    .cta__actions
    .button-primary-light {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: var(--fw-600);
    line-height: 140%;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li:last-child {
    border-bottom: 2px solid #ffd85c;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .bottom__image {
    background-image: url("/icons/oval-shadow.png");
    width: 42%;
    height: 117px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 36%;
    top: 65%;
    z-index: 0;
    background-position: center;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__info
    .feature__title {
    position: absolute;
    top: -12%;
    max-width: 440px;
    left: 35%;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__info
    .feature__title
    h2 {
    text-align: center;
    font-size: 48px;
    font-weight: var(--fw-800);
    line-height: 48px;
    background: linear-gradient(
      180deg,
      var(--primary-blue-700) -37.5%,
      #1961d3 141.15%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .cta__actions {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -30%;
    left: 40%;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__info
    .feature__description {
    max-width: 380px;
    position: absolute;
    left: 40%;
    bottom: -20%;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__info
    .feature__description
    p {
    color: var(--tertiary-black);
    text-align: center;
    font-size: 0.9rem;
    font-weight: var(--fw-300);
    line-height: 20px;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li
    p:first-child {
    color: #969696;
    font-size: 12px;
    font-weight: var(--fw-700);
    line-height: 18px;
    margin-top: 16px;
  }

  .car-detail-feature.feature-performance.container
    .feature__card
    .feature__content
    .feature__variant
    ul
    li
    p:not(:first-child) {
    color: var(--tertiary-black);
    font-size: 40px;
    font-weight: var(--fw-600);
    line-height: 140%;
    margin-bottom: 16px;
  }
}

@media (width < 1024px) {
  .car-detail-feature.feature-performance.container
    .feature__content
    .cta__actions
    .button-primary-light {
    color: var(--tertiary-black);
  }

  .car-detail-feature.feature-interior .feature__title h2 {
    max-width: 224px;
  }
}
