.benefit-cards {
    width: 100%;
}

.card-wrapper {
    .title {
        width: 228px;
        height: auto;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        text-align: left;
        font-family: var(--primary-font-arena);
    }

    .card-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
        margin-top: 24px;
    }

    .image-card {
        width: 100%;
        max-width: 151px;
        height: 116px;
        border: 1px solid var(--light-grey-shade-5);
        padding: 16px;

        .card-img {

            img {
                display: block;
                width: 40px;
                height: auto;
                object-fit: cover;
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100px;
            height: 36px;
            text-align: left;
            vertical-align: bottom;
            line-height: 18px;
            font-size: 16px;
            font-weight: 400;
            font-family: var(--primary-font-arena);
            padding-top: 8px;
        }
    }
}

@media (width >=768px) {
    .card-wrapper {
        .title {
            width: 367px;
            font-size: 40px;
            line-height: 44px;
            font-weight: 700;
            margin: 0;
            font-family: var(--primary-font-arena);
            text-align: left;
        }

        .card-section {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 14px;
            margin-top: 20px;
        }

        .image-card {
            width: 100%;
            max-width: 260px;
            height: 160px;
            box-sizing: border-box;
            border: 1px solid var(--light-grey-shade-5);
            overflow: hidden;
            padding: 24px;

            .card-img {
                img {
                    display: block;
                    width: 40px;
                    height: auto;
                    object-fit: cover
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 106px;
                height: 52px;
                padding-top: 20px;
                text-align: left;
                line-height: 28px;
                font-size: 24px;
                font-weight: 400;
                margin: 0;
                font-family: var(--primary-font-arena);
            }
        }
    }
}