.logo__picture {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width >=768px) {
    justify-content: start;
  }

  picture {
    display: flex;
    align-items: center;
  }
}
