nav {
  display: none;
}

@media (width >= 999px) {
  nav {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
    display: none;
  }

  nav .dot {
    display: block;
    margin: 10px 0;
    width: 10px;
    height: 10px;
    border: 1px solid #d4d4d4;
    background: #fafafa;
    backdrop-filter: blur(20px);
    cursor: pointer;
  }

  .dot.active {
    border: 1px solid #cfd1ff;
    background: var(--fill-inside, #171d9b);
  }
}
